= render partial: "render/project_practice_nav", locals: {project_name: @project.project_name, project_color: @project.project_color}
#project-practicecontent
  = render "show"
#pattern-detail-container
#practice-comment-container
#did-notification
  i.fa.fa-check-circle-o