= render partial: "render/practice_nav", locals: {end_num: @ended_practices.length}
#practicecontent
  = render "index"
#pattern-detail-container
#practice-comment-container
#did-notification
  i.fa.fa-check-circle-o