body.excharts.index
  .modal
    .menu
      height: 400px
      overflow: auto
body.excharts.new
  overflow: hidden
  min-width: 100%
  max-width: 100%
  #nav-container
    display: none
  .required-container
    width: 100%
  .card
    background: white
    border-radius: 10px
    border: 1px solid rgba(0,0,0,.1)
    position: absolute
    top: 0
    left: 0
    right: 0
    transition: all 0.5s
    min-height: 390px
    .name
      height: 44px
      overflow: auto
    .summary
      height: 72px
      overflow: auto
    .solution
      height: 96px
      overflow: auto
    &:first-of-type
      box-shadow: 0px 0px 6px 1px rgba(0,0,0,.3)
  input[type="submit"]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    height: 35px
    width: 40%
    z-index: 1
    display: none
  .progressbar-outline
    height: 20px
    border-radius: 10px
    box-sizing: content-box
    padding: 0
    .bar
      background-color: $brand-theme
      height: 20px
      position: absolute
      top: 0
      left: 0
      border-radius: 10px
      min-width: 24px
  .flick-button
    width: 50px
    height: 50px
    border-radius: 25px
    cursor: pointer
    &.reverse
      width: 35px
      height: 35px
      margin-top: 12px

body.en.excharts.new
  p
    @media (max-width: 375px)
      font-size: 14px !important

body.excharts.show, body.excharts.compare_result
  .result-nav
    margin-top: -20px
    border-bottom: 1px solid #D9D9D9
    li
      height: 70px
      overflow: hidden
      perspective: 500px
      position: relative
      display: inline-block
      margin-top: -14px
      z-index: 5
      cursor: pointer
      &.in-active
        .nav-inner
          background: $brand-contrast
          border: 1px solid #D9D9D9
        p  
          color: $brand-dark-gray
    .nav-inner
      margin: 0 auto
      height: 130px
      background: $brand-theme
      transform: rotateX(55deg)
      border-radius: 8px
    p
      display: block
      position: absolute
      right: 0
      left: 0
      bottom: 0
      z-index: 3
      text-decoration: none
      padding: 5px 23px
      line-height: 30px
      color: $brand-contrast
      height: 30px
      white-space: nowrap
  .card
    .js-trigger-add-practice, .js-trigger-pattern-detail
      cursor: pointer
  .current-patterns-container
    display: none
    
body.excharts.show.en, body.excharts.compare_result.en
  .result-nav
    p
      white-space: inherit
      line-height: 17px
      height: auto
    
body.excharts.compare_result
  .result-nav
    .nav-inner
      background: $yellow-2-color
    p
      color: $brand-dark-gray
    
body.excharts.compare
  .js-compare-submit
    position: fixed
    bottom: 30px
    left: 50%
    transform: translate(-50%, -50%)
    display: none
  .selected-wrapper
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 66px
    border-radius: 10px
    background: rgba(50, 50, 50, .4)
  .selected
    .selected-wrapper
      display: block

//pdf style
.pdf-col-3
  width: 23%
  float: left
.pdf-col-4
  width: 32.3%
  margin-left: 1%
  float: left
.pdf-col-6
  width: 48%
  margin-left: 2%
  float: left
.chart-on-pdf
  width: 230px
  position: absolute
  right: 0
  top: 0
.patterns-list-on-pdf
  margin-top: 20px
  padding-left: 15px
  p
    position: relative
    margin-bottom: 11px
    &:last-of-type
      margin-bottom: 0
  &.en
    p
      margin-bottom: 16px
      font-size: 16px !important
.explanation-on-pdf
  margin-left: 60px
  margin-bottom: 50px
.name-on-pdf
  width: 250px
  border-bottom: 1px dashed
  position: absolute
  left: 250px
  top: 35px
.decoration-on-pdf
  position: absolute
  left: -15px
.core-pattern-on-pdf
  margin-left: 32px