body.excharts.index, body.excharts.compare
  .modal
    .menu
      height: 400px
      overflow: auto
  .card
    border-radius: 5px
    background: $brand-contrast
    overflow: hidden
    position: relative
  .selected
    .card
      &:after
        content: " "
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba($brand-gray, .4)
body.excharts.new
  .card
    background: white
    border-radius: 10px
    border: 1px solid rgba(0,0,0,.1)
    min-height: 390px
  input[type="submit"]
    z-index: 1
  .progressbar-container
    position: fixed
    top: 0
    width: 100%
    z-index: 1
    background: $brand-contrast
  .progressbar-outline
    height: 20px
    border-radius: 10px
    box-sizing: content-box
    padding: 0
    position: relative
    overflow: hidden
    .bar
      background-color: $brand-theme
      height: 20px
      position: absolute
      top: 0
      left: 0
      width: 0
      -webkit-transition: .5s ease-in-out
  .exchart-controller
    .h3
      background-color: rgba($blue, .3)
      cursor: pointer
      &:hover, &.active
        background-color: $blue
        color: $brand-contrast

body.excharts.show, body.excharts.compare_result
  .result-nav-container
    z-index: 1
  .result-nav
    margin-top: -20px
    height: 70px
    li
      height: 70px
      overflow: hidden
      perspective: 500px
      position: relative
      display: inline-block
      z-index: 5
      cursor: pointer
      &.in-active
        .nav-inner
          background: $brand-contrast
          border: 1px solid #D9D9D9
        p  
          color: $brand-dark-gray
    .nav-inner
      margin: 0 auto
      height: 130px
      background: $brand-theme
      transform: rotateX(55deg)
      border-radius: 8px
    p
      display: block
      position: absolute
      right: 0
      left: 0
      bottom: 0
      z-index: 3
      text-decoration: none
      padding: 5px 23px
      line-height: 30px
      color: $brand-contrast
      height: 30px
      white-space: nowrap
  .card
    .js-trigger-add-practice, .js-trigger-pattern-detail
      cursor: pointer
  .current-patterns-container
    display: none
  .text-green
    color: $green
  .text-light-green
    color: rgba($green, .5)

body.excharts.compare_result
  .result-nav
    .nav-inner
      background: $green
    
.exchart-primary-patterns 
  .is-secondary &
    display: none
.exchart-secondary-patterns
  display: none
  .is-secondary &
    display: block
    
body.excharts.compare
  .js-compare-submit
    position: fixed
    bottom: 30px
    left: 50%
    transform: translate(-50%, -50%)
    display: none
  .selected-wrapper
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 66px
    border-radius: 10px
    background: rgba(50, 50, 50, .4)
  .selected
    .selected-wrapper
      display: block
  .button
    background-color: $red
    color: $brand-contrast

//pdf style
.pdf-col-3
  width: 23%
  float: left
.pdf-col-4
  width: 32.3%
  margin-left: 1%
  float: left
.pdf-col-6
  width: 48%
  margin-left: 2%
  float: left
.chart-on-pdf
  width: 230px
  position: absolute
  right: 0
  top: 0
.patterns-list-on-pdf
  margin-top: 20px
  padding-left: 15px
  p
    position: relative
    margin-bottom: 11px
    &:last-of-type
      margin-bottom: 0
  &.en
    p
      margin-bottom: 16px
      font-size: 16px !important
.explanation-on-pdf
  margin-left: 60px
  margin-bottom: 50px
.name-on-pdf
  width: 250px
  border-bottom: 1px dashed
  position: absolute
  left: 250px
  top: 35px
.decoration-on-pdf
  position: absolute
  left: -15px
.core-pattern-on-pdf
  margin-left: 32px