.recommended-patterns-container
  @media (max-width: 990px)
    margin-top: 70px
    background-color: rgba($green, .1)
  @media (max-width: 767px)
    margin-top: 40px
    h3
      margin-bottom: 0
      padding-top: 10px